<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="utils/css/materialize/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="css/taskStyles.css">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

     <!-- Compiled and minified JavaScript -->
     
</head>
<body ng-app="tasks">

    <div class="container" ng-controller="TaskController as tasks">
        <h2>Your Tasks</h2> <br>
        <div class="row">
            <div class="col s3" ng-repeat="type in tasks.types" >
                <div class="waves-effect waves-light btn fill {{type.color}} ">{{type.name}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col s3" ng-repeat="type in tasks.types">
                <div ng-repeat="task in tasks.tasks | tasktype: type.id">
                    <app-task task="task" move-forward="tasks.moveForward" move-back="tasks.moveBack" set-selected="tasks.setSelected" delete-task="tasks.deleteTask"></app-task>
                </div>
            </div>
        </div>
        <app-fab></app-fab>

        <!-- Edit Task Modal -->
        <app-edit-modal selected="tasks.selected" remove-selected="tasks.removeSelected" edit-task="tasks.editTask"></app-edit-modal>

        <!-- Add New Task Modal -->
        <app-new-task add-new="tasks.addNew"></app-new-task>

        <!-- Add New Task Type Modal -->
        <div id="modal3" class="modal">
            <div class="modal-content">
                <h4>Add New Section</h4>
                <p>Feature coming soon</p>
            </div>
            <div class="modal-footer">
                <a href="" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                <a href="" class="modal-close waves-effect waves-green btn">Done</a>
            </div>
        </div>
    </div>
    

    <script src="js/core/core.js"></script>
    <script src="js/core/filters/tasktype.js"></script>
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/TaskController.js"></script>

    <!-- Directives -->
    <script src="js/directives/appFab/appFab.js"></script>
    <script src="js/directives/appTask/appTask.js"></script>
    <script src="js/directives/appNewTask/appNewTask.js"></script>
    <script src="js/directives/appEditModal/appEditModal.js"></script>

    <!-- Services -->
    <script src="utils/js/materialize/materialize.min.js"></script>
</body>
</html>